.question{
    width: 65rem;
    height: 50rem;
    background: #E94560;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0.5rem 0.2rem hsl(350, 79%, 39%);
}

.question__header{
    height: 15%;
    padding: 2rem;

}

.question__h2{
    font-size: 200%;
    text-align: center;
}

.question__section{
    height: 65%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question__text{}

.question__footer{
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
}

.question__button{
    font-size: 100%;
    border: none;
    background: hsl(350, 79%, 39%);
    outline: none;
    border-radius: 2rem;
    width: 25rem;
    height: 4rem;
    transition: 0.2s;
}

.question__button:hover{
    cursor: pointer;
    background: hsl(350, 79%, 49%);
}