.question{
    width: 60rem;
    height: 40rem;
    background: #E94560;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0.5rem 0.2rem hsl(350, 79%, 39%);
}

.question__header{
    height: 40%;
    background: red;
    padding: 2rem;
}

.question__section{
    height: 40%;
    background: green;
    padding: 2rem;
}

.question__footer{
    height: 20%;
    background: blue;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem;
}